
h1,h2 {
    color:green;
      }

body {
    background-image:  url("background.jpg");
    color:yellow;
      }

.right {
    color: red;
    background-color:black;
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px dashed red;
    padding: 10px;
      }

.contact {

    color: green;
    background-color:black;
    position: absolute;
    bottom: 0px;
    border: 3px dashed red;
    padding: 5px;
    
      }
